  body{
    font-family: Georgia, 'Times New Roman', Times, serifss;
  }
.div1{
    height: 550px;
    width: 550px;
    background-color:rgb(151, 206, 255);
    display: block;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    border-radius: 45px;
    border: 1.5px solid none;
    box-shadow: 0px 0px 75px rgb(146, 199, 245);

}
input{
    font-size: 30px;
    text-align: center;
    outline: none;
    
}

input[type=password]{

    margin-left: 50px;
    margin-top: 50px;
    height: 100px;
    width: 450px;
    text size: 500px;
    border-radius: 40px; 
    border: none; 
}
input[type=text]{
    margin-top: 150px;
    margin-left: 50px;
    height: 100px;
    width: 450px;
    text size: 500px;
    border-radius: 40px; 
    border: 1.5px solid transparent; 
}

button{
    height: 80px;
    width: 100px;
    border-radius: 30%;
    margin-top: 30px;
    margin-left: 220px;
    font-size: 30px;
    border: none;
    background-color: white;
    
}

input:hover{
    box-shadow: 7px 7px  100px gray;

}
button:hover{
    box-shadow: 7px 7px  50px gray;
}





